<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href='/css/error.css' rel="stylesheet">
    <title>Ошибка</title>
</head>
<body>
<div class="page-content">
    <div class="error-title">
        <h2>Ошибка</h2>
        <div class="error-message">
            <h4 th:text="${httpStatus.toString()}"></h4>  <!--/*@thymesVar id="httpStatus" type="org.springframework.http.HttpStatus"*/-->
            <div class="message-text" th:text="${message}"></div>  <!--/*@thymesVar id="message" type="java.lang.String"*/-->
        </div>
    </div>
    <div class="error">
        <div class="error-img">
            <img src="/img/error/error.png" width="300" height="300"/>
        </div>
        <div class="go-away">
            <a href="/">Домой</a>
        </div>
    </div>
</div>
</body>
</html>