.page-content {
    text-align: center;
    font-family: cursive;
}

.kitty-list {
    display: inline-block;
}

.kitty-top {
    display: table-row;
}

.kitty-top-index {
    font-size: 20px;
    text-align: right;
}

.kitty-top-img {
    width: 100px;
    height: 100px;
    padding: 10px 35px 10px 35px;
}

.kitty-top-name {
    text-align: left;
}

.kitty-top-index,
.kitty-top-img,
.kitty-top-name {
    display: table-cell;
    vertical-align: middle;
    width: 100px;
}