.page-content {
    text-align: center;
    font-family: cursive;
}

.error {
    display: inline-block;
}

.error-title {
    color: red;
}

.error-img {
    width: 300px;
    height: 300px;
    border: 1px solid #808080;
}

.go-away {
    margin-top: 10px;
}

.go-away a {
    color: steelblue;
}