.page-content {
    text-align: center;
    font-family: cursive;
}

.kitty {
    display: inline-block;
    margin: 0 8px 0 8px;
}

.kitty-img {
    width: 300px;
    height: 300px;
    background-color: #dbdbdb;
}

.kitty-name {
    margin-top: 10px;
}

.kitty-name a {
    color: steelblue;
}

.progress-bar {
    height: 20px;
    width: 200px;
    border: 1px solid #808080;
    background-color: #dbdbdb;
    display: inline-flex;
    margin-top: 10px;
}

.progress {
    background-color: #3cb371;
}

.progress-text {
    font-size: 14px;
    position: absolute;
    padding-left: 80px;
}